body {
  margin-bottom: 60px;
  background-color: #A3E9E5;}


main {
  color: #3E3E3F;
  margin-top: 30px;
}

.navbar-brand,
.navbar-nav,
.card-title,
.author {
  font-family: 'Economica', sans-serif;
}   

.card-title {
  color: #5ea3d7;
  text-align: center;
  font-size: 1.6rem
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #666666;
  color: #ffffff;
  font-size: 0.8rem;
  text-align: center;
  font-family: 'Economica', sans-serif;
  z-index: 1060;
}

.card {
  border: 0px;
  height: 100%;
}

.card-body{
  background-color: #2d3236;
}

.title {
  color: #a5a6a7;
}

.card-header-weather {
  background-color: #292d31;
  color: #a5a6a7;
  text-align: center;
  border-bottom: 0;
  font-size: .8rem;
}

.card-body-weather {
  color: #2da5b3;
  font-family: 'Economica', sans-serif;
  font-size: 1.4rem;
  text-align: center;
}

.card-body-current {
  color: #e16341;
  font-family: 'Economica', sans-serif;
  font-size: 1.4rem;
  text-align: center;
}

.card-body-forecast {
  color: #92b92b;
  font-family: 'Economica', sans-serif;
  font-size: 1rem;
  text-align: center;
}

.card-footer-weather {
  background-color: #2d3236;
  text-align: center;
  align-content: center;
  border-top: 0;
  padding-top: 0;
}

.card-text {
  font-size: .5rem;
  margin: 0;
  color: #a5a6a7;
}

.col-weather {
padding: 4px;
}

#forecastContainer {
  padding: 20px;
}

#forecastCol {
  background-color: darkslategrey;
  padding: 20px;
}

.fav-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.carousel-caption {
  background-color:rgba(192,192,192,0.1);
  border-radius: 0.2rem;
  right: 0;
  left: 0;
}

.carousel-indicators {
  bottom: 20px;
}

#forecastCity {
  text-transform:capitalize;
}

#summaryToday {
  font-size: 1.3rem;
  padding: 10px 5px 0 !important;
  line-height: 1.3rem;
  vertical-align: middle;
}

#forecastCity {
  font-weight: bold;
}

.jumbotron {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.card-apod{
  background-color: white;
}

#mainSection {
  padding: 3% 0 3% 0;
}

#formSection {
  background-color: #FFC1A1;
  padding: 10% 0 10% 0;
}

#secondSection {
  background-color: #3BB2AD;
  padding: 15% 0 15% 0;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 55px;
  right: 10px;
  z-index: 99 !important;
  border: none;
  outline: none;
  background-color: #666666;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  font-size: 0.8rem;
  line-height: 0.5rem;
}

#myBtn:hover {
  background-color: #2da5b3;
}

hr {
    display: block;
    width: 75%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: #666666;
}

#loginBtn {
    padding: 0 10px 0 10px;
    margin-right: 10px;
    outline: none !important;
}

#profileForm {
  padding: 10%;
  background-color: #C7977D;
  border-radius: 4px;
}